@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700&display=swap');

nav {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0px;
    
    .navbarImage {
    height: 40px;
    margin-left: 67%;
    margin-top: 24%;
}

.navbarLink {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    margin-right: -215px;
    
}

.activate{
    font-family: "Sen", sans-serif;
    color: white;
    text-decoration: none;
    
}

.h2-navbar {
    font-family: "Sen", sans-serif;
    color: white;
    margin-left: 26%;
    font-size: 25px;
}

}

@media screen and (max-width: 576px) {

}