@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700&display=swap');
p{
  font-family: 'Sen', sans-serif;
  color: white;
}
.artMasVendido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(67, 67, 67, 0.434);
    height: rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    position: relative;
    top: 17rem;
    left: 30%;
    width: 40%;
    
    align-items: center;

    & h1 {
      position: relative;
      top: 0rem;
      text-align: center;
      font-family: 'Sen', sans-serif;
      color: white;
      font-size: 26px;
      margin-bottom: 6%;
    }

    

    & .masVendido {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: -1rem;

      & #infoMoto {
        width: 95%;
    height: auto;
    margin-top: 0%;

      & #infoIconos {
        height: 16%;
        width: 100%;
        margin-top: -8px;

        & ul {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style-type: none;
          /* justify-content: space-around; */
          margin-left: 5%;
          margin-top: 12%;
          /* margin-bottom: -5%; */
      }

        & #tacometro, #cc, #consumo {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
          list-style: none;
          width: 30%;
        }

      }

      // & .descripcion{

        
      

       
    

    &  .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    & .slide {
      max-width: 100%;
      height: auto;
      opacity: 0;
      transition: opacity 0.75s ease-in-out;
    }
    
    & .slide.active {
      opacity: 1;
    }
  }
  
    
    & .button-home {
      background: rgb(255, 255, 255);
    position: relative;
    color: rgb(3, 3, 3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Sen", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 800;
    padding: 10px 30px;
    transition: 0.5s;
    left: 13rem;
  }
  & .button-home:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
  }
}
}

.div-price-name{
  display: flex;
  flex-direction: row;
  gap: 60px;
  
  align-items: center;
  & #h2-price{
    font-family: "Sen", sans-serif;
    color: white;
    margin-left: 0;
    font-size: 25px;
}
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(67, 67, 67, 0.434);
  height: auto;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: relative;
  top: 5rem;
  left: 4%;
  width: 70%;
  align-items: center;
  margin: 38px;


  & .article-priduct-list{
    width: 100%;
}
  & .slider{
    height: 16rem;
}

& #infoMoto {
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

& #iconList{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 66px;
}

#info-card{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

}
#info-vel{
  display: flex;
  align-items: center;
  gap: 9px;
}
#info-km{
  display: flex;
  align-items: center;
  gap: 6px;
}

 #cc{
  
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
}
 #tacometro{
   
   width: 6rem;
   display: flex;
  flex-direction: column;
  align-items: center;

}
 #consumo{
  
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#descripcion {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -43px;
}

#div-price-name {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 178px;
}

#p-description {
  font-family: "Sen", sans-serif;
  color: white;
  width: 80%;
}

#button-product{
  margin-top: 48px;
  margin-bottom: 21px;
  background: rgb(255, 255, 255);
  position: relative;
  color: rgb(3, 3, 3);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Sen", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 800;
  padding: 10px 30px;
  transition: 0.5s;
  left: 0;
}
   #button-product:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
  }

  #price-card{
    font-family: "Sen", sans-serif;
    color: white;
    margin-left: 0;
    font-size: 19px;
  }
    #name-card{
      font-family: "Sen", sans-serif;
      color: white;
      margin-left: 0;
      font-size: 35px;
    }

    #p-stock{
      font-family: "Sen", sans-serif;
      color: white;
      margin-top: -8px;
  }

  .product-list {
    display: grid;
  
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
