@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700&family=Signika+Negative:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700&family=Signika+Negative:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700&family=Signika+Negative:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700&family=Signika+Negative:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700&family=Signika+Negative:wght@300;400&display=swap");
html {
  margin: 0;
}

body {
  margin: 0;
}
body #videoFondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  object-fit: cover;
  height: auto;
}

@media (max-width: 390px) {
  body {
    margin: 0;
  }
  body #videoFondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
    object-fit: cover;
    height: 100%;
  }
}
header .nav {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
header img {
  height: 40px;
  margin-left: 67%;
  margin-top: 24%;
}
header #menu {
  display: none;
}
header #links {
  display: flex;
  justify-content: space-evenly;
  font-family: "Sen", sans-serif;
  color: white;
  position: relative;
  right: -13rem;
  padding: 0%;
  width: 30%;
}
header #links li {
  list-style: none;
}
header #links .busqueda {
  position: absolute;
  left: 9px;
  top: -23%;
  transform: translate(-100%, 0%);
  padding: 10px;
}
header #links input {
  outline: none;
  height: 29px;
  width: 0;
  padding: 0 13px;
  color: #000;
  border-radius: 50px;
  font-size: 18px;
  border: 1px solid #000000;
  transition: all 0.7s ease;
  position: relative;
  top: -11px;
  left: 9px;
}
header #links ::placeholder {
  color: grey;
}
header #links .btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
header #links .btn i {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 80px;
  transition: all 0.7s ease;
  position: relative;
  top: -84%;
  left: -1px;
}
header #links .btn:hover {
  background: #ffffff;
}
header #links .busqueda:hover input {
  width: 180px;
}
header #links .busqueda:hover i {
  transform: rotate(-360deg);
}
header #links .activado {
  color: white;
  text-decoration: none;
}
header h2 {
  font-family: "Sen", sans-serif;
  color: white;
  margin-left: 40%;
  font-size: 25px;
}

@media (max-width: 390px) {
  header .nav {
    position: inherit;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 64px;
    flex-wrap: wrap;
  }
  header .aLogo {
    width: 6%;
  }
  header .aLogo img {
    width: 193%;
    margin: 59%;
  }
  header h2 {
    font-family: "Sen", sans-serif;
    color: white;
    margin-left: 27%;
    font-size: 25px;
    margin-top: 5%;
  }
  header #links {
    display: none;
  }
  header #links .busqueda {
    position: sticky;
    left: 186px;
    top: 6rem;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
  header #links .activado {
    color: white;
    text-decoration: none;
  }
  header #menu {
    display: block;
    margin-left: auto;
    margin-right: 2%;
    position: absolute;
    left: 88%;
    top: 30px;
  }
  header #menu i {
    font-size: 30px;
  }
}
.artMasVendido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(67, 67, 67, 0.434);
  height: 27rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: relative;
  top: 13rem;
  left: 24rem;
  width: 48%;
  margin: 10px;
}
.artMasVendido .h1mas {
  position: relative;
  text-align: center;
  font-family: "Sen", sans-serif;
  color: white;
  font-size: 27px;
}
.artMasVendido .masVendido {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: -2rem;
}
.artMasVendido .masVendido #slidershow-container {
  width: 62%;
}
.artMasVendido .masVendido .mySlides {
  display: none;
}
.artMasVendido .masVendido img {
  vertical-align: middle;
  width: 93%;
  margin: 9px;
}
.artMasVendido .masVendido .previo {
  cursor: pointer;
  position: absolute;
  top: 42%;
  padding: 16px;
  left: 15px;
  color: black;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.artMasVendido .masVendido .proximo {
  cursor: pointer;
  position: absolute;
  top: 42%;
  padding: 16px;
  left: 19rem;
  color: black;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.artMasVendido .masVendido .previo:hover, .artMasVendido .masVendido .proximo:hover {
  background-color: rgba(0, 0, 0, 0.8);
  width: 8px;
  border-radius: 100px;
}
.artMasVendido .masVendido .divColores {
  display: flex;
  flex-direction: row;
  position: relative;
  left: -37px;
  margin-right: -7%;
}
.artMasVendido .masVendido .colores {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: 9rem;
  left: -12rem;
}
.artMasVendido .masVendido .active, .artMasVendido .masVendido .dot:hover {
  background-color: grey;
}
.artMasVendido .masVendido .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 390px) {
  .artMasVendido .prev, .artMasVendido .next {
    font-size: 11px;
  }
  .artMasVendido .dot {
    height: 10px;
    width: 10px;
  }
}
.artMasVendido #infoMoto {
  width: 50%;
  height: 86%;
  margin-top: 0;
}
.artMasVendido #infoIconos {
  height: 16%;
  width: 100%;
  margin-top: -16px;
  margin-left: -7%;
}
.artMasVendido #infoIconos ul {
  width: 100%;
  margin-left: -12%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.artMasVendido #infoIconos p {
  font-family: "Sen", sans-serif;
}
.artMasVendido #descripcion {
  font-family: "Sen", sans-serif;
  color: white;
  width: 90%;
  margin-top: -20px;
}
.artMasVendido #descripcion h1 {
  text-align: initial;
  font-size: 24px;
  font-family: "Sen", sans-serif;
}
.artMasVendido #descripcion h2 {
  font-family: "Sen", sans-serif;
  font-size: 18px;
  margin-top: -13px;
}
.artMasVendido #descripcion p {
  position: relative;
  top: -7px;
}
.artMasVendido #cc {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
}
.artMasVendido #cc p {
  font-family: "Sen", sans-serif;
}
.artMasVendido #imgcc {
  width: 34px;
}
.artMasVendido #tacometro {
  display: flex;
  align-items: center;
  color: white;
  width: 38%;
}
.artMasVendido #imgTacometro {
  width: 34px;
  margin-right: 11%;
  margin-top: -7%;
}
.artMasVendido #consumo {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.artMasVendido #imgConsumo {
  width: 24px;
  margin-right: 11%;
}

.button {
  background: rgb(255, 255, 255);
  position: relative;
  color: rgb(3, 3, 3);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Sen", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 800;
  padding: 10px 30px;
  transition: 0.5s;
  left: 60px;
}

.button:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

@media (max-width: 390px) {
  .artMasVendido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(67, 67, 67, 0.434);
    height: 51rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    position: relative;
    top: 13rem;
    left: 0;
    width: 93%;
    margin: 10px;
  }
  .artMasVendido .masVendido {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0rem;
  }
  .artMasVendido .masVendido .previo {
    cursor: pointer;
    position: absolute;
    top: 14%;
    padding: 16px;
    left: 15px;
    color: black;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .artMasVendido .masVendido .proximo {
    cursor: pointer;
    position: absolute;
    top: 14%;
    padding: 16px;
    left: 19rem;
    color: black;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .artMasVendido .masVendido #slidershow-container {
    width: 100%;
  }
  .artMasVendido .masVendido .divColores {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 177px;
    margin-right: -7%;
    top: -19%;
  }
  .artMasVendido .masVendido #infoMoto {
    width: 91%;
    height: 86%;
    margin-top: 41px;
  }
  .artMasVendido .masVendido .button {
    background: rgb(255, 255, 255);
    position: relative;
    color: rgb(3, 3, 3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Sen", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 800;
    padding: 10px 30px;
    transition: 0.5s;
    left: 84px;
  }
  .artMasVendido .masVendido .button:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
  }
}
.contenedor {
  background-color: rgb(255, 255, 255);
  /* margin-top: 15%; */
  height: auto;
  position: relative;
  top: 30rem;
}
.contenedor .slider {
  display: flex;
  padding: 0;
  width: 100%;
  margin-left: auto;
}
.contenedor .slider #slider1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Sen", sans-serif;
  margin-top: 3%;
  margin-bottom: 3%;
}
.contenedor .slider #slider1 img {
  width: 15%;
  margin-bottom: 4%;
}
.contenedor .slider #slider2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Sen", sans-serif;
  margin-top: 3%;
  margin-bottom: 3%;
}
.contenedor .slider #slider2 img {
  width: 15%;
  margin-bottom: 4%;
}
.contenedor .slider #slider3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Sen", sans-serif;
  margin-top: 3%;
  margin-bottom: 3%;
}
.contenedor .slider #slider3 img {
  width: 15%;
  margin-bottom: 4%;
}
.contenedor .menuSlider {
  display: none;
}

.h1main {
  color: white;
  text-align: center;
  position: relative;
  top: 50rem;
  font-family: "Sen", sans-serif;
}

.articleNosotros {
  background-color: rgba(67, 67, 67, 0.434);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: relative;
  top: 7rem;
  left: 120px;
  width: 84%;
  height: auto;
  margin-bottom: -52rem;
}
.articleNosotros .h1Nosotros {
  text-align: center;
  font-family: "Sen", sans-serif;
  color: white;
  position: relative;
  top: 19px;
  font-size: 44px;
}
.articleNosotros .divNosotros1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
}
.articleNosotros .divNosotros2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 2%;
}
.articleNosotros .pNosotros {
  color: white;
  font-family: "Sen", sans-serif;
}
.articleNosotros .imgNosotros {
  width: 40%;
}

.formContacto {
  background-color: rgba(67, 67, 67, 0.434);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: relative;
  top: 7rem;
  left: 25rem;
  width: 47%;
  height: auto;
  margin-bottom: -52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContacto label {
  color: white;
  font-family: "Sen", sans-serif;
  margin-top: 6%;
}
.formContacto .inputContacto {
  background: none;
  color: white;
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  margin: 12px;
  width: 60%;
  border: none;
  border-bottom: 1px solid white;
}
.formContacto .selectContacto {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  margin-bottom: 18px;
  font-family: "Sen", sans-serif;
}
.formContacto .textareaContacto {
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 60%;
  margin-bottom: 3%;
  font-family: "Sen", sans-serif;
}
.formContacto .buttonContacto {
  background: rgb(255, 255, 255);
  position: relative;
  color: rgb(3, 3, 3);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Sen", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 800;
  padding: 10px 30px;
  transition: 0.5s;
  left: 0;
  margin-bottom: 4%;
}
.formContacto .buttonContacto:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

.error {
  color: red;
  font-family: "Sen", sans-serif;
  font-size: 12px;
  margin: 12px;
}

#mainCards {
  padding: 5px 20px;
}
#mainCards #sectionCards {
  margin: auto;
  width: 100%;
}
#mainCards .artMasVendido {
  display: inline-flex;
  background-color: rgba(67, 67, 67, 0.434);
  height: 27rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: relative;
  top: 6rem;
  left: 3rem;
  width: 45%;
}
#mainCards .artMasVendido .h1mas {
  position: relative;
  text-align: center;
  font-family: "Sen", sans-serif;
  color: white;
  font-size: 27px;
}
#mainCards .artMasVendido .masVendido {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: -2rem;
}
#mainCards .artMasVendido .masVendido #slidershow-container {
  width: 62%;
}
#mainCards .artMasVendido .masVendido .mySlides {
  display: none;
}
#mainCards .artMasVendido .masVendido img {
  vertical-align: middle;
  width: 93%;
  margin: 9px;
}
#mainCards .artMasVendido .masVendido .previo {
  cursor: pointer;
  position: absolute;
  top: 42%;
  padding: 16px;
  left: 15px;
  color: black;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#mainCards .artMasVendido .masVendido .proximo {
  cursor: pointer;
  position: absolute;
  top: 42%;
  padding: 16px;
  left: 40%;
  color: black;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#mainCards .artMasVendido .masVendido .previo:hover, #mainCards .artMasVendido .masVendido .proximo:hover {
  background-color: rgba(0, 0, 0, 0.8);
  width: 8px;
  border-radius: 100px;
}
#mainCards .artMasVendido .masVendido .divColores {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 12px;
  margin-right: -7%;
}
#mainCards .artMasVendido .masVendido .colores {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: 9rem;
  left: -12rem;
}
#mainCards .artMasVendido .masVendido .active, #mainCards .artMasVendido .masVendido .dot:hover {
  background-color: grey;
}
#mainCards .artMasVendido .masVendido .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 390px) {
  #mainCards .artMasVendido .prev, #mainCards .artMasVendido .next {
    font-size: 11px;
  }
  #mainCards .artMasVendido .dot {
    height: 10px;
    width: 10px;
  }
}
#mainCards .artMasVendido #infoMoto {
  width: 50%;
  height: 86%;
  margin-top: 0;
}
#mainCards .artMasVendido #infoIconos {
  height: 16%;
  width: 100%;
  margin-top: -16px;
  margin-left: -7%;
}
#mainCards .artMasVendido #infoIconos ul {
  width: 100%;
  margin-left: -12%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#mainCards .artMasVendido #infoIconos p {
  font-family: "Sen", sans-serif;
  margin: 1px;
}
#mainCards .artMasVendido #descripcion {
  font-family: "Sen", sans-serif;
  color: white;
  width: 90%;
  margin-top: -20px;
}
#mainCards .artMasVendido #descripcion h1 {
  text-align: initial;
  font-size: 24px;
  font-family: "Sen", sans-serif;
}
#mainCards .artMasVendido #descripcion h2 {
  font-family: "Sen", sans-serif;
  font-size: 18px;
  margin-top: -13px;
}
#mainCards .artMasVendido #descripcion p {
  position: relative;
  top: -7px;
}
#mainCards .artMasVendido #cc {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
}
#mainCards .artMasVendido #cc p {
  font-family: "Sen", sans-serif;
}
#mainCards .artMasVendido #imgcc {
  width: 34px;
}
#mainCards .artMasVendido #tacometro {
  display: flex;
  color: white;
  width: 45%;
}
#mainCards .artMasVendido #imgTacometro {
  width: 34px;
  margin-right: 7%;
  margin-top: 0;
}
#mainCards .artMasVendido #consumo {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#mainCards .artMasVendido #imgConsumo {
  width: 24px;
  margin-right: 11%;
}
#mainCards .button {
  background: rgb(255, 255, 255);
  position: relative;
  color: rgb(3, 3, 3);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Sen", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 800;
  padding: 10px 30px;
  transition: 0.5s;
  left: 60px;
  top: 48px;
}
#mainCards .button:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

#formAlta {
  background-color: rgba(67, 67, 67, 0.434);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: relative;
  top: 7rem;
  left: 25rem;
  width: 47%;
  height: auto;
  margin-bottom: -52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#formAlta label {
  color: white;
  font-family: "Sen", sans-serif;
  margin-top: 6%;
}
#formAlta h1, #formAlta h2 {
  color: white;
  font-family: "Sen", sans-serif;
}
#formAlta input {
  background: none;
  color: white;
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  margin: 12px;
  width: 40%;
  border: none;
  border-bottom: 1px solid white;
}
#formAlta .divInfoAlta {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#formAlta .divInfoAlta .divCaracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
#formAlta .divInfoAlta .divCaracteristicas div {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
#formAlta .divInfoAlta .divCaracteristicas div p {
  color: white;
  font-family: "Sen", sans-serif;
}
#formAlta .divInfoAlta .divCaracteristicas div input {
  width: 30px;
}
#formAlta .divColoresAlta select {
  background: none;
  color: white;
}
#formAlta .subirFoto {
  width: 50%;
}
#formAlta .textAreaAlta {
  width: 50%;
  margin-top: 3%;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 3%;
  font-family: "Sen", sans-serif;
}
#formAlta .buttonAlta {
  background: rgb(255, 255, 255);
  position: relative;
  color: rgb(3, 3, 3);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Sen", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 800;
  padding: 10px 30px;
  transition: 0.5s;
  margin-bottom: 4%;
  margin-top: 2%;
}
#formAlta .buttonAlta:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

@media (max-width: 390px) {
  #mainCards {
    margin-top: 38%;
  }
  #mainCards .artMasVendido {
    display: inline-flex;
    background-color: rgba(67, 67, 67, 0.434);
    height: 34rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    position: relative;
    top: 0;
    left: -10px;
    width: 98%;
  }
  #mainCards .artMasVendido .masVendido {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0rem;
  }
  #mainCards .artMasVendido .masVendido #slidershow-container {
    width: 100%;
    margin-left: 0px;
  }
  #mainCards .artMasVendido .masVendido .previo {
    cursor: pointer;
    position: absolute;
    top: 76px;
    padding: 16px;
    left: 12px;
    color: black;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  #mainCards .artMasVendido .masVendido .proximo {
    cursor: pointer;
    position: absolute;
    top: 76px;
    padding: 16px;
    left: 283px;
    color: black;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  #mainCards .artMasVendido .masVendido .divColores {
    display: none;
  }
  #mainCards .artMasVendido .masVendido #infoMoto {
    width: 90%;
    height: 42%;
    margin-top: 0;
  }
  #mainCards .artMasVendido .masVendido #infoIconos ul {
    width: 100%;
    margin-left: -26px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  #mainCards .artMasVendido .masVendido #imgcc {
    width: 26px;
  }
  #mainCards .artMasVendido .masVendido #tacometro {
    display: flex;
    color: white;
    width: 89%;
  }
  #mainCards .artMasVendido .masVendido #imgTacometro {
    width: 29px;
    margin-right: 7%;
    margin-top: 0;
  }
  #mainCards .artMasVendido .masVendido #imgConsumo {
    width: 21px;
    margin-right: 11%;
  }
  #mainCards .artMasVendido .masVendido #descripcion {
    font-family: "Sen", sans-serif;
    color: white;
    width: 90%;
    position: relative;
    top: 9%;
  }
  #mainCards .artMasVendido .masVendido #descripcion h1 {
    text-align: initial;
    font-size: 21px;
    font-family: "Sen", sans-serif;
  }
  #mainCards .artMasVendido .masVendido #descripcion h2 {
    font-family: "Sen", sans-serif;
    font-size: 15px;
    margin-top: -13px;
  }
  #mainCards .artMasVendido .masVendido #descripcion p {
    position: relative;
    top: -3px;
    font-size: 15px;
  }
  #mainCards .button {
    background: rgb(255, 255, 255);
    position: relative;
    color: rgb(3, 3, 3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 8px;
    font-family: "Sen", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 800;
    padding: 10px 30px;
    transition: 0.5s;
    left: 69px;
    top: 14px;
  }
  #mainCards .button:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
  }
  .contenedor {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 20%;
    height: 11rem;
    padding: 2px;
  }
  .contenedor ul, .contenedor li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .contenedor ul.slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -12px;
  }
  .contenedor ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.5s;
    background: #fff;
    font-family: "Sen", sans-serif;
    font-size: 17px;
  }
  .contenedor ul.slider li img {
    width: 14%;
    height: auto;
  }
  .contenedor ul.slider li:first-child {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor #slider2, .contenedor #slider3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor ul.slider li:target {
    opacity: 1;
  }
  .contenedor .menuSlider {
    display: block;
    list-style: circle;
    position: relative;
    top: -9%;
    left: 43%;
    width: 60px;
  }
  .contenedor .menuSlider li {
    display: inline-block;
    text-align: center;
  }
  .contenedor .menuSlider li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    width: 5px;
    height: 5px;
    font-size: 20px;
    border-radius: 100%;
  }
  .h1main {
    color: white;
    text-align: center;
    position: relative;
    top: 51rem;
    font-family: "Sen", sans-serif;
  }
  .articleNosotros {
    background-color: rgba(67, 67, 67, 0.434);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    position: relative;
    top: 7rem;
    left: 29px;
    width: 84%;
    height: auto;
    margin-bottom: -52rem;
  }
  .articleNosotros .h1Nosotros {
    text-align: center;
    font-family: "Sen", sans-serif;
    color: white;
    position: relative;
    top: 19px;
    font-size: 44px;
  }
  .articleNosotros .divNosotros1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }
  .articleNosotros .divNosotros2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }
  .articleNosotros .pNosotros {
    color: white;
    font-family: "Sen", sans-serif;
  }
  .articleNosotros .imgNosotros {
    width: 100%;
  }
  .formContacto {
    background-color: rgba(67, 67, 67, 0.434);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    position: relative;
    top: 10rem;
    left: 8px;
    width: 95%;
    height: auto;
    margin-bottom: -52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formContacto label {
    color: white;
    font-family: "Sen", sans-serif;
    margin-top: 6%;
    font-size: 25px;
  }
  .formContacto .error {
    color: red;
    font-family: "Sen", sans-serif;
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
  }
  .formContacto .inputContacto {
    background: none;
    color: white;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    margin: 12px;
    width: 60%;
    border: none;
    border-bottom: 1px solid white;
  }
  .formContacto .textareaContacto {
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 60%;
    margin-bottom: 3%;
    font-family: "Sen", sans-serif;
    margin-top: 13%;
  }
  .formContacto .buttonContacto {
    background: rgb(255, 255, 255);
    position: relative;
    color: rgb(3, 3, 3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Sen", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 800;
    padding: 10px 30px;
    transition: 0.5s;
    left: 0;
    margin-bottom: 4%;
    margin-top: 6%;
  }
  #formAlta {
    background-color: rgba(67, 67, 67, 0.434);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    position: relative;
    top: 10rem;
    left: 7px;
    width: 95%;
    height: auto;
    margin-bottom: -52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #formAlta label {
    color: white;
    font-family: "Sen", sans-serif;
    margin-top: 6%;
    font-size: 19px;
  }
  #formAlta .error {
    color: red;
    font-family: "Sen", sans-serif;
    font-size: 17px;
    margin: 12px;
    font-weight: bold;
  }
  #formAlta .textAreaAlta {
    width: 79%;
    margin-top: 3%;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 3%;
    font-family: "Sen", sans-serif;
  }
  #formAlta .subirFoto {
    width: 87%;
  }
}
.artFooter {
  background-color: rgba(0, 0, 0, 0.762);
  position: relative;
  top: 73rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: white;
  gap: 20%;
  height: 20rem;
}
.artFooter .h2footer {
  color: white;
  font-family: "Sen", sans-serif;
  text-align: center;
}
.artFooter img {
  width: 20px;
}
.artFooter .ulfooter {
  list-style: none;
  color: white;
}
.artFooter li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-family: "Sen", sans-serif;
}
.artFooter a {
  text-decoration: none;
  color: white;
  margin: 18%;
}
.artFooter p {
  font-family: "Sen", sans-serif;
  text-align: center;
}

@media (max-width: 390px) {
  .artFooter {
    background-color: rgba(0, 0, 0, 0.762);
    position: relative;
    top: 73rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20%;
    height: 100%;
    align-content: center;
    flex-wrap: nowrap;
  }
  .tel {
    margin-left: 8%;
  }
  .email {
    margin-left: -9%;
  }
  .ulLinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: -50%;
  }
}

/*# sourceMappingURL=styles.css.map */
